.step {
    border: 5px solid teal;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#read_button {
    margin-left: 25px;
}

#byte_content {
    margin: 5px 0;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#bencode_content {
    margin: 5px 0;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#byte_range {
    margin-top: 5px;
}

#magnet_icon {
    padding-right: 10px;
}
